asgiref==3.3.4
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
Django==3.2
django-crispy-forms==1.11.2
Flask==1.1.2
Flask-Cors==3.0.10
gekko==0.2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==2.0.3
numpy==1.20.2
paramiko==2.7.2
pycparser==2.20
PyMySQL==1.0.2
PyNaCl==1.4.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
Werkzeug==1.0.1
